.footer {
    display: flex;
    position: relative;
}
.footer__linkset {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: absolute;
    top: 50px;
    &__socnet {
        display: flex;
        margin-left: 24px;
        &_item {
            width: 32px;
            height: 32px;
            margin-right: 10px;
        }
    }

    &__market {
        display: flex;
        margin-right: 24px;
        &_item {
            width: 94px;
            height: 27px;
            background-color: #000000;

            margin-right: 5px;
            border-radius: 5px;
        }
    }
}

.footer__wrap {
    display: flex;
    align-items: center;
    flex-direction: column;

    text-transform: uppercase;
    padding-bottom: 39px;
}
.footer__wrap_separator {
    justify-content: center;
    width: 299px;
    height: 4px;    
    background-color: #1fbad6;
    margin-top: 14px;
}
.footer__menu {
    margin-top: 30px;
    &_item {
        font-size: 15px;
        font-weight: 300;

        color: #070716;        

        padding: 0 23px;
    }
}
.footer__submenu {
    margin-top: 12px;
    &_item {
        font-size: 11px;
        font-weight: 300;
        color: #999999;

        padding:0 10px;
    }
}
.footer__lang {
    font-size: 11px;
    font-weight: normal;
    text-align: center;
    color: #1fbad6;

    margin-top: 19px;
}