.subheader {
    height: 84px;
    background-color:rgba(0,0,0, .6);

    position: absolute;
    width: 100%;

    margin-top: 50px;

    z-index: 2;
}
.subheader__logo {
    display: block;

    max-width: 100%;
    margin-top: 16px;
    img {
        width: 100%;
    }
}
.subheader__official {
    font-size: 13px;

    margin-top: 6px;
    color: rgba(255, 255, 255, 0.5);
}
.subheader__call {
    color: #fff;

    font-size: 12px;
    font-weight: 300;

    margin-top: 19px;
    text-align: right;
}
.subheader__phone {
    display: block;  
    font-size: 22px;
    font-weight: 400;
    color: #fff;

    text-align: right;
    margin-top: 8px;
    line-height: 12px;

    outline: 0 !important;
}
.subheader__btn {
    width: 172px;
    height: 46px;

    margin-top: 19px;

    box-shadow: inset 0px -3px 0 0 rgba(0, 0, 0, 0.12);
    border: solid 3px rgba(0, 0, 0, 0.07);
    background-image: linear-gradient(to top, #1eacc7, #4ce2ff);
    text-shadow: 0.7px 0.7px 0 rgba(0, 0, 0, 0.21);
    border: 0;
    border-radius: 4px;
    font-size: 14px;
    font-weight: normal;
    text-align: center;
    color: #ffffff;
    text-transform: uppercase;
    @include btn_hover;
    
}
.xs-visible {
    display: none;
}