<section class="advantages">
    <div class="container">
        
        <div class="advantages__label">преимущества</div>
        <h2 class="advantages__header">8 причин начать работать с нами</h2>
        
        <div class="row">

            <div class="col-md-6 advantages__card">
                <div class="advantages__icon">
                    <img src="assets/img/advantages-icon.png" alt="">
                </div>
                <div class="advantages__descr">
                    <span>Никаких наличных, оплата происходит автоматически 1</span><br>
                    Стоимость поездки оплачивается пассажиром с привязанной банковской карты, т.е. нет никаких рисков связанных с перевозкой наличности как для пассажира, так и для водителя, Вам не нужно искать мелкие деньги для размена.
                </div>
            </div>
            
            <div class="col-md-6 advantages__card">
                <div class="advantages__icon">
                    <img src="assets/img/advantages-icon.png" alt="">
                </div>
                <div class="advantages__descr">
                    <span>Никаких наличных, оплата происходит автоматически 2</span><br>
                    Стоимость поездки оплачивается пассажиром с привязанной банковской карты, т.е. нет никаких рисков связанных с перевозкой наличности как для пассажира, так и для водителя, Вам не нужно искать мелкие деньги для размена.
                </div>
            </div>

            <div class="col-md-6 advantages__card">
                <div class="advantages__icon">
                    <img src="assets/img/advantages-icon.png" alt="">
                </div>
                <div class="advantages__descr">
                    <span>Никаких наличных, оплата происходит автоматически 3</span><br>
                    Стоимость поездки оплачивается пассажиром с привязанной банковской карты, т.е. нет никаких рисков связанных с перевозкой наличности как для пассажира, так и для водителя, Вам не нужно искать мелкие деньги для размена.
                </div>
            </div>

            <div class="col-md-6 advantages__card">
                <div class="advantages__icon">
                    <img src="assets/img/advantages-icon.png" alt="">
                </div>
                <div class="advantages__descr">
                    <span>Никаких наличных, оплата происходит автоматически</span><br>
                    Стоимость поездки оплачивается пассажиром с привязанной банковской карты, т.е. нет никаких рисков связанных с перевозкой наличности как для пассажира, так и для водителя, Вам не нужно искать мелкие деньги для размена.
                </div>                
            </div>

            <div class="col-md-6 advantages__card">
                <div class="advantages__icon">
                    <img src="assets/img/advantages-icon.png" alt="">
                </div>
                <div class="advantages__descr">
                    <span>Никаких наличных, оплата происходит автоматически</span><br>
                    Стоимость поездки оплачивается пассажиром с привязанной банковской карты, т.е. нет никаких рисков связанных с перевозкой наличности как для пассажира, так и для водителя, Вам не нужно искать мелкие деньги для размена.
                </div>                
            </div>

            <div class="col-md-6 advantages__card">
                <div class="advantages__icon">
                    <img src="assets/img/advantages-icon.png" alt="">
                </div>
                <div class="advantages__descr">
                    <span>Никаких наличных, оплата происходит автоматически</span><br>
                    Стоимость поездки оплачивается пассажиром с привязанной банковской карты, т.е. нет никаких рисков связанных с перевозкой наличности как для пассажира, так и для водителя, Вам не нужно искать мелкие деньги для размена.
                </div>                
            </div>

            <div class="col-md-6 advantages__card">
                <div class="advantages__icon">
                    <img src="assets/img/advantages-icon.png" alt="">
                </div>
                <div class="advantages__descr">
                    <span>Никаких наличных, оплата происходит автоматически</span><br>
                    Стоимость поездки оплачивается пассажиром с привязанной банковской карты, т.е. нет никаких рисков связанных с перевозкой наличности как для пассажира, так и для водителя, Вам не нужно искать мелкие деньги для размена.
                </div>                
            </div>

            <div class="col-md-6 advantages__card">
                <div class="advantages__icon">
                    <img src="assets/img/advantages-icon.png" alt="">
                </div>
                <div class="advantages__descr">
                    <span>Никаких наличных, оплата происходит автоматически</span><br>
                    Стоимость поездки оплачивается пассажиром с привязанной банковской карты, т.е. нет никаких рисков связанных с перевозкой наличности как для пассажира, так и для водителя, Вам не нужно искать мелкие деньги для размена.
                </div>                
            </div>

            <div class="col-md-6 advantages__card">
                <div class="advantages__icon">
                    <img src="assets/img/advantages-icon.png" alt="">
                </div>
                <div class="advantages__descr">
                    <span>Никаких наличных, оплата происходит автоматически</span><br>
                    Стоимость поездки оплачивается пассажиром с привязанной банковской карты, т.е. нет никаких рисков связанных с перевозкой наличности как для пассажира, так и для водителя, Вам не нужно искать мелкие деньги для размена.
                </div>                
            </div>

            <div class="col-md-6 advantages__card">
                <div class="advantages__icon">
                    <img src="assets/img/advantages-icon.png" alt="">
                </div>
                <div class="advantages__descr">
                    <span>Никаких наличных, оплата происходит автоматически</span><br>
                    Стоимость поездки оплачивается пассажиром с привязанной банковской карты, т.е. нет никаких рисков связанных с перевозкой наличности как для пассажира, так и для водителя, Вам не нужно искать мелкие деньги для размена.
                </div>                
            </div>


        </div>

    </div>
</section>