<section class="auto">
    
    <div class="auto__image">
        <img src="assets/img/auto2.png" alt="autouber">
    </div>

    <div class="auto__top">
        <div class="container">
        
            <div class="auto__label">Возможности</div>
            <h2 class="auto__header">Выбор - отличная штука!</h2>
            <h3 class="auto__subheader">Закажите автомобиль, который подходит вам по стилю и бюджету</h3>    
        </div>            
    </div>


    <div class="auto__bottom">
        <div class="container">
            <div class="auto__descr">
                Машины на каждый день <br>   
                Лучше, быстрее и дешевле, чем такси
            </div>
        </div>
    </div>
    
</section>     
        