<section class="capabilities">
    <div class="container">

        <div class="capabilities__label">Возможности</div>
        <h2 class="capabilities__header">мобильное приложение убер</h2>
        <h3 class="capabilities__subheader">Сделайте заказ, совершите поездку и оплатите ее стоимость, используя свой мобильный телефон</h3>

        <div class="row">

            <div class="col-md-4">
                <div class="capabilities__item">
                    <div class="capabilities__item__subtitle">
                        оформление заказа одним касанием
                    </div>
                    <div class="capabilities__item__plus">
                       
                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <div class="capabilities__item">
                    <div class="capabilities__item__subtitle">
                        надежная подача
                    </div>
                    <div class="capabilities__item__plus">
                       
                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <div class="capabilities__item">
                    <div class="capabilities__item__subtitle">
                        прозрачные цены
                    </div>
                    <div class="capabilities__item__plus">
                       
                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <div class="capabilities__item">
                    <div class="capabilities__item__subtitle">
                        безналичная оплата
                    </div>
                    <div class="capabilities__item__plus">
                       
                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <div class="capabilities__item">
                    <div class="capabilities__item__subtitle">
                        обратная связь
                    </div>
                    <div class="capabilities__item__plus">
                       
                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <div class="capabilities__item">
                    <div class="capabilities__item__subtitle">
                        разделить стоимость поездки
                    </div>
                    <div class="capabilities__item__plus">
                       
                    </div>
                </div>
            </div>            

        </div>
    </div>
</section> 