<section class="condition">
    <div class="container">
        <div class="condition__label">возможности</div>
        <h2 class="condition__header">условия и требования</h2>

        <div class="row">
            <div class="col-md-6">

                <div class="condition__block">
                    <div class="condition__title">УСЛОВИЯ: со своим авто:</div>
                    <ul class="condition__list">
                        <li class="condition__list__item">Подключаем к системе UBER  под 10%.</li>
                        <li class="condition__list__item">Ни каких взносов  0%!</li>
                        <li class="condition__list__item">ИП не требуется</li>
                        <li class="condition__list__item">Заказы распределяются без учета рейтинга ближайшим водителям</li>
                        <li class="condition__list__item">Работа только по безналичному расчету</li>
                        <li class="condition__list__item">Деньги перечисляем на карту водителю или наличными в офисе</li>
                        <li class="condition__list__item">В день заработок составляет 7000-12000р + бонус 3000т рублей</li>
                    </ul>
                    <div class="condition__descr">
                        В день заработок составляет 7000-12000р + бонус 3000т рублей
                    </div>  
                </div>                
            </div>

            <div class="col-md-6">
                <div class="condition__block">
                    <div class="condition__title">УСЛОВИЯ: на авто компании:</div>
                    <ul class="condition__list">
                        <li class="condition__list__item">Предоставляем авто без залога</li>
                        <li class="condition__list__item">Без ежедневных выплат по аренде</li>
                        <li class="condition__list__item">Среда пятница и суббота работа на компанию остальные дни вы работаете на себя</li>
                    </ul>
                </div>
            </div>

            <div class="col-md-6">
                <div class="condition__block warning">
                    <div class="condition__title">ТРЕБОВАНИЕ:</div>
                    <ul class="condition__list">
                        <li class="condition__list__item">Наличие автомобиля без рекламы</li>
                        <li class="condition__list__item">Автомобиль не должен быть желтый и не с желтыми номерами</li>
                        <li class="condition__list__item">Машина не старше 3 лет</li>
                        <li class="condition__list__item">Стаж вождения не менее 3 лет</li>
                        <li class="condition__list__item">Дивайс на системе андроид 4.0и выше(самсунг)</li>                        
                    </ul>
                </div>
            </div>

            <div class="col-md-6">
                <div class="condition__block warning">
                    <div class="condition__title">ДОКУМЕНТЫ:</div>
                    <ul class="condition__list">
                        <li class="condition__list__item">Права 2 стороны</li>
                        <li class="condition__list__item">Паспорт лицевая сторона</li>
                        <li class="condition__list__item">СтС</li>
                        <li class="condition__list__item">Лицензия( если есть)</li>
                        <li class="condition__list__item">Номер телефона</li>
                        <li class="condition__list__item">Номер карты для перечисления денег(указать в письме)!</li>
                    </ul>
                </div>
            </div>          
        </div>
    </div>
</section>

