<section class="footer">
    
    <div class="footer__linkset">
        <div class="footer__linkset__socnet">
            <div class="footer__linkset__socnet_item">
                <svg class="social__icon social__icon--fb">
                    <use xlink:href="#fb"></use>		
                </svg>
            </div>
            <div class="footer__linkset__socnet_item">
                <svg class="social__icon social__icon--fb">
                    <use xlink:href="#fb"></use>		
                </svg>
            </div>
            <div class="footer__linkset__socnet_item">
                <svg class="social__icon social__icon--fb">
                    <use xlink:href="#fb"></use>		
                </svg>
            </div>
            <div class="footer__linkset__socnet_item">
                <svg class="social__icon social__icon--fb">
                    <use xlink:href="#fb"></use>		
                </svg>
            </div>
        </div>    
        
        <div class="footer__linkset__market">
            <div class="footer__linkset__market_item"></div>
            <div class="footer__linkset__market_item"></div>
            <div class="footer__linkset__market_item"></div>
        </div>

    </div>

     <div class="container">
        <div class="footer__wrap">
            <div class="footer__wrap_separator"></div>

            <div class="footer__menu">
                <a href="" class="footer__menu_item">на главную</a>
                <a href="" class="footer__menu_item">города</a>
                <a href="" class="footer__menu_item">для водителей</a>
            </div>

            <div class="footer__submenu">
                <a href="" class="footer__submenu_item">центр поддержки</a>            
                <a href="" class="footer__submenu_item">вакансии</a>
                <a href="" class="footer__submenu_item">разработчики</a>
                <a href="" class="footer__submenu_item">блог</a>
                <a href="" class="footer__submenu_item">о нас</a>
            </div>

            <div class="footer__lang">русский</div>
    </div>
    </div>
</section>